.auth {
    width: 50%;
    margin: 0 auto;
    text-align: center;

    h3 {
        margin-bottom: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: #333;
    }

    .btn-center {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .w-100 {
        width: 100%;
    }
}